body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  color: gold;
}

.inactive {
  color: gray;
}